header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12.5px 10%;
  background-color: #7952b3;
  justify-content: flex-end;
}

.logo {
  margin-right: 0px;
}

header li,
a,
button {
  text-decoration: none;
}

.nav-links {
  list-style: none;
  margin: auto;
  margin-left: 0px;
}

.nav-links li {
  display: inline-block;
  padding: 0px 5px;
  color: rgb(255, 255, 255);
}

.img-links {
  min-width: 1.5em;
  min-height: 1.5em;
}

button {
  margin: 0px 12.5px;
}
