body {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 254, 244);
  overflow: hidden;
}

/* FOR HEADER */

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #edf0f1;
} */

li,
a,
.my_button,
.upload {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #24252a;
  text-decoration: none;
}
/* .header_div {
  background-color: rgb(255, 254, 244);
  opacity: 75%;
} */
header {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 10 30px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10%;
  /* background-color: #fffef4f2; */
  background: linear-gradient(#fffbcbf2, #fffffff2, transparent 25%);
  margin-bottom: 10px;
  /* border-bottom: #000000;
  border-style: solid;
  border-width: thin; */
}

.logo {
  height: 5ex;
  width: 5ex;
  cursor: pointer;
  margin-right: auto;
  display: flex;
  padding: 0;
}

.nav__links {
  list-style: none;
  margin-top: auto;
  margin-bottom: auto;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #44ff0a;
}

.my_button {
  padding: 9px 25px;
  background-color: rgb(255, 217, 0);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.my_button:hover {
  animation-name: colorchange1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  color: black;
}

@keyframes colorchange1 {
  0% {
    background-color: rgb(255, 217, 0);
  }
  25% {
    background-color: rgb(115, 255, 0);
  }
  50% {
    background-color: rgb(0, 238, 255);
  }
  75% {
    background-color: rgb(247, 0, 255);
  }
  100% {
    background-color: rgb(255, 217, 0);
  }
}

.lucid {
  text-shadow: 2px 2px #ff0000;
  animation-name: colorchange2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  color: black;
}

@keyframes colorchange2 {
  0% {
    color: rgb(255, 217, 0);
  }
  25% {
    color: rgb(247, 0, 255);
  }
  50% {
    color: rgb(115, 255, 0);
  }
  75% {
    color: rgb(0, 238, 255);
  }
  100% {
    color: rgb(255, 217, 0);
  }
}

.upload {
  padding: 9px 25px;
  background-color: #44ff0a;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.upload:hover {
  animation-name: animation1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  color: black;
}

@keyframes animation1 {
  0% {
    background-color: #44ff0a;
  }
  50% {
    background-color: #00ffea;
    color: rgb(5, 100, 107);
  }
  100% {
    background-color: #44ff0a;
  }
}

/* FOR SIDEBAR */

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.content-sidebar {
  display: flex;
  flex-wrap: wrap;
  /* perspective: 1500px; */
}

#sidebar {
  min-width: 40%;
  max-width: 40%;
  flex: 1 1 30%;
  background-color: #f4f8e9;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
  color: #fff;
  transition: all 0.3s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  transform-origin: center left;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  border-right: #d9d9d9;
  border-style: solid;
  border-width: thin;
}

#sidebar.active {
  min-width: 4%;
  max-width: 4%;
  text-align: center;
}

.sidebar-header {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  align-items: center;
  padding: 5px 2.5ex;
  background: linear-gradient(#faffad, rgb(244, 255, 209), transparent 75%);
  width: inherit;
  max-width: inherit;
}

#sidebar ul li a {
  text-align: left;
}

#sidebar.active ul li a {
  padding: 20px 10px;
  text-align: center;
  font-size: 0.85em;
}

#sidebar.active ul li a i {
  margin-right: 0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

/* Same dropdown links padding*/
#sidebar.active ul ul a {
  padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

/* NAV BUTTON */
.nav_button {
  max-height: 50%;
  max-width: 50%;
  align-items: center;
  justify-content: center;
}

/* MAIN SPACE */
.main_content {
  padding: 10px;
  padding-top: 0px;
  flex: 1 1;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.mytable {
  border-collapse: separate;
  border-spacing: 0 10px;
}

/* ICONS */

.left {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  z-index: -1;
}

.left:after {
  z-index: -1;
  content: "";
  display: inline-block;
  margin: 25%;
  width: 2em;
  height: 2em;
  border-top: 0.75em solid #333;
  border-right: 0.75em solid #333;
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* .right {
  display: inline-block;
  width: 2em;
  height: 2em;
  margin-left: 1em;
}

.right:after {
  content: "";
  display: inline-block;
  margin-top: 1.05em;
  margin-left: -0.6em;
  width: 1em;
  height: 1em;
  border-top: 0.5em solid #333;
  border-right: 0.5em solid #333;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
} */

div.scroll {
  width: 50%;
  height: 100px;
  float: left;
  overflow-x: hidden;
  overflow-y: scroll;
}

.input_text {
  position: absolute;
  bottom: 0;
}
